/* ====== Navbar ====== */
.navbar {
  display: grid;
  /* we make 3 columns, each taking up 1 equal fraction of space to center everything correctly*/
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
   
  padding: 1.25rem 5%;
  background: #f2f4f8;
  border-bottom: 1px solid #2563eb;
}

.nav-logo {
  justify-self: start;
  font-size: 2rem;
  font-weight: 700;
  color: #2563eb;
}

.nav-links {
  justify-self: center;

  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;   /* removes the default underline on links */
  color: #4b5563;
  font-weight: 500;
  font-size: 1.25rem;
}

.nav-links a:hover {
  color: #2563eb;
}

.nav-github-button {
  justify-self: end;

  font-size: 1.25rem;
  background: #2563eb;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  /* adjust the button for the GitHub logo */
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}