.options-page {
    display: flex;
    min-height: 850px;
    background: #0080ff;
  }

.sidebar {
  width: 15%;
  background: #f2f4f8;
  border-right: 1px solid #2563eb;
  padding: 24px 20px;
}

.greeks-charts {
  display: flex;
  flex: 1;
  background-color: #f0f0f0;
}